@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');




body {
    background-color: #28272D;
    height: 4000px;
    margin: auto;
    
}

.header {
    width: 1360px;
    margin: auto;
    text-align: center;
}

.bg-img {
    position: absolute;
    background: #28272D url('/content/img/hero-bg-2160p-veryhigh.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 150%;
    z-index: -2;
}

h1, h2, h3, p, a {
    font-family: 'Open Sans', sans-serif;
    color: #F5FAFE;
    
}

h1 {
    font-size: 60px;
    font-weight: 600;
}

h2 {
    font-size: 50px;
    font-weight: 400;
}

h3 {
    font-size: 40px;
    font-weight: 400;
}

p {
    font-size: 28px;
    font-weight: 300;
}

a {
    display: inline-block;
    padding: 15px;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
}

a:hover {
    color: #E0DFE5;
}

.nav {
    display: inline-block;
}

.skill {
    text-decoration: none;
}

.home {
    height: 65px;
    width: 65px;
}

.intro {
    width: 1360px;
    margin: auto;
}

.line {
    border-bottom: 4px solid #DB2C3A;
    display: block;
    width: 295px;
}