@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@media only screen and (max-width: 900px) {
    .header {
        width: 600px;
        margin: auto;
        
    }
  }
@media only screen and (max-width: 1080px) {
    .header {
        width: 600px;
        margin: auto;
        
    }
  }
@media only screen and (max-width: 1360px) {
    .header {
        width: 1080px;
        margin: auto;

    }
  }

/*css reset*/
* {
    box-sizing: border-box;
}

body {
    background-color: #28272D;
    margin: auto;
}

html {
    height: 100%;
}

/*css reset*/

.header {
    width: 1360px;
    margin: auto;
    text-align: center;
}

.bg-img {
    position: absolute;
    background-image: linear-gradient(to bottom, transparent, #28272D), url('content/img/hero-bg-1920p.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 110%;
    z-index: -2;
    opacity: 0.1;   
}

h1, h2, h3, p, a {
    font-family: 'Open Sans', sans-serif;
    color: #F5FAFE; 
    margin-block-start: auto;
    margin-block-end: auto;
    margin-inline-start: ;
    margin-inline-end: ;
}

h1 {
    font-size: 3.75em;
    font-weight: 600;
}

h2 {
    font-size: 3.125em;
    font-weight: 400;
}

h3 {
    font-size: 2.5em;
    font-weight: 400;
}

p {
    font-size: 1.75em;
    font-weight: 300;
}

a {
    display: inline-block;
    padding: 15px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
}

a:hover {
    color: #E0DFE5;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    font-size: 1.875em;
}

.nav-mid a {
    margin-left: 50px;
    margin-right: 50px;
}

.headings {
    display: block;
    align-items: center;
    text-align: center;
    margin-top: 25vh;
}

.headings h1 {
    margin-bottom: 0px;
}

.headings h3 {
    margin-top: 5px;
}

.skill {
    text-decoration: none;
}

.home {
    height: 65px;
    width: 65px;
}

.intro {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align:center;
    text-align: center;
    width: 1360px;
}

.intro h3 {
    margin-top: 33vh;
    margin-bottom: 20px;
}

.intro span {
    margin:auto;
    margin-bottom: 50px;
}

.line {
    border-bottom: 4px solid #DB2C3A;
    display: block;
    width: 295px;
}

.skills-container {
    background-color: #37363C;
    text-align: center;
}

.skills-container h2{
    padding-top: 60px;
    padding-bottom: 80px; 
}

.flex-container {
    display: flex;
    justify-content: center;
}

.skill {
    height: 440px;
    width: 440px;
    justify-content: ;
    display: inline-block;
    background-color: #28272D;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 150px;
}

.programs {
    text-align: center;
    height: 690px;
    margin-top: auto;
    margin-bottom: auto;

}

.program {
    display: ;
    height: 150px;
    width: 150px;
    margin: 30px 160px;
}

.p-row2 {
    margin-bottom: 120px;
}


.headshot {
    height: 150px;
    width: 150px;
}

.medias{
    background-color: #37363C;
    text-align: center;

}

.media-links {
    display: flex;
    justify-content: center;
}